<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap5 %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
<body> <div class="container text-center mt-5 card  border shadow-lg p-3 mb-5 rounded bg-gradient">
    <div class="card-header">
      Password Change Form
    </div>
    <div class="card-body">
      <h5 class="card-title"><h1>{% trans "Change Password" %}</h1></h5>
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change card-text">
        {% csrf_token %}
        {%bootstrap_form form%}
        <button type="submit" name="action" class='btn btn-success'>{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
</body>
{% endblock content %}
