<!DOCTYPE html>
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    {% load i18n %}
    <div class="container text-center mt-5 card  border shadow-lg p-3 mb-5 rounded bg-gradient">
        <div class="card-header">
            <h1>{% trans "Change Password" %}</h1>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
    </div>
</body>
</html>

