<!DOCTYPE html>
{% load bootstrap5 %}
{% load i18n %}
{% load custom_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-chat</title>
    {% include 'links&cdns.html' %}
</head>
<script>
    var navcount=0
  </script>
<body>  
   {% include 'nav.html' %}
   {% block content %}
   {% endblock content %}
  {% comment %} For message notification purposes {% endcomment %}
  <script>
    var userforgroup=`{{request.user.username | remove_unnecessary}}`
    var user=`{{request.user}}`
    const NotificationSocket=new WebSocket(
      'wss://'
      + window.location.host
      + '/ws/'      
      +userforgroup
      +'/'
      +user
      + '/notify/'
  );
    
  
    NotificationSocket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };
  NotificationSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);        
    $('.navmessagecount').addClass('bg-danger')
    var messagecount=Number($('.navmessagecount').text()) + data.counter
    $('.navmessagecount').text(messagecount)     
    if ($(location).attr('href') == `${location.protocol}//${window.location.host}{% url 'home' %}`){    
      if(data.type == 'Group Notification'){        
        $('.group-section').append(`
        <span class="badge text-bg-success">New!!</span>
        `)
      }
      if (data.reciever_username == `{{request.user}}`){  
        $(`#${data.sender_id}newmessage`).text('New Messages')
        $(`#${data.sender_id}lastchatspan`).text(data.chat)        
    }
    }
    else{      
      $('.navmessagecount').addClass('bg-danger')
      var messagecount=Number($('.navmessagecount').text()) + data.counter
      $('.navmessagecount').text(messagecount)   
      if ($(location).attr('href') == `${location.protocol}//${window.location.host}{% url 'home_groups' %}`){  
          $(`#${data.groupid}groupmessage`).text('New Messages')
          $(`#${data.groupid}lastchat`).text(data.chat)
          if(data.type == 'Personal Notification'){            
            $('.chat-section').append(`
            <span class="badge text-bg-success">New!!</span>
            `)
          }
      }
    }
};
  </script>
</body>
</html>