<!DOCTYPE html>
{% load bootstrap5 %}
{% load i18n %}
{% load custom_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-chat</title>
    {% include 'links&cdns.html' %}
</head>
<script>
    var navcount=0
  </script>
<body>  
   {% include 'nav.html' %}
   {% block content %}
   {% endblock content %}
   <script>
    var user=`{{request.user.username | remove_unnecessary}}`
    const NotificationSocket=new WebSocket(
      'ws://'
      + window.location.host
      + '/ws/'      
      + 'notify/'
  );
    
  
    NotificationSocket.onmessage=function(response){
        var data=JSON.parse(response.data)
        console.log(data)
        if (data.type =='chat_notify'){
          {% comment %} $('.navmessagecount').text(data.count) {% endcomment %}
          {% comment %} var newmessagespan=document.getElementById(data.partner_id) {% endcomment %}
          {% comment %} var lastchatspan=document.getElementById(`${data.partner_id}lastchatspan`) {% endcomment %}
          {% comment %} newmessagespan.innerHTML=`${data.count} New Messages` {% endcomment %}
          {% comment %} lastchatspan.innerHTML=`${data.chat}` {% endcomment %}
        }
    }
  
    NotificationSocket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };
  </script>
</body>
</html>