{% extends 'base.html' %}
{% block content %}
{% load custom_tags %}
<div class="chatandgroups text-center">
<div class="row">
    <div class="chat-section col border-top border-end">Chats</div>
    <div class="group-section col">Groups</div>
</div>
</div>
<hr style="width:100%", size="3", color=white> 
{% comment %} {% for i in RoomObjects %}
  {{i.chats.last}}
{% endfor %} {% endcomment %}
    <div class="card MainContent" style="width: 100%;">
    {% for i,k in combined %}
    {% for j in i %}
    <a href="{% url 'chats:create_personal_room' pk=j.id %}" class='btn p-0'>
      {% endfor %}
    <div class="card-header bg-secondary">           
      {{i | get_username}}
        <span class="bg-danger rounded new_message_count px-2" id='{{i | get_id}}' style='float:right;'></span>
      </div>
      <script>
        $(document).ready(function(){
        var element=document.getElementById(`{{i | get_id}}`)
        var count=Number(`{{k.chats.all | is_viewed_count}}`)
        console.log(count)    
        if(count <= 0){
          element.innerHTML=`No New Messages`
        }
        else{
          element.innerHTML=`${count} New Messages`
        }
      });
      </script>
    </a>
    <ul class="list-group list-group-flush bg-success border-bottom border-5">
      <li class="ms-2 list-group-item mb-2" id='{{i | get_id}}lastchatspan'>{{k.chats.last}}</span></li>        
    </ul>
      {% empty %}      
      <div class="card-header bg-secondary">
      </div>
      <ul class="list-group list-group-flush bg-success border-bottom border-5">
        <li class="ms-2 list-group-item mb-2">No Chats Yet!!</span></li>        
      </ul>
    {% endfor %}
</div>
<script>
  var user=`{{request.user}}`
  const NotificationSocket=new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/'
    + user
    + '/notify/'
);
  

  NotificationSocket.onmessage=function(response){
      var data=JSON.parse(response.data)
      if (data.type =='chat_notify'){
        var newmessagespan=document.getElementById(data.partner_id)
        var lastchatspan=document.getElementById(`${data.partner_id}lastchatspan`)
        newmessagespan.innerHTML=`${data.count} New Messages`
        lastchatspan.innerHTML=`${data.chat}`
      }
  }

  NotificationSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};
</script>
{% endblock content %}