{% load custom_tags %}
<nav class="navbar navbar-expand">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Django-chat</a>
      <button type="button" class="btn other-components border btn-sm position-relative">
        <i class="bi bi-bell"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger navmessagecount">
          {{request.user | get_counter}}
        </span>
      </button> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        {% include 'snippets/search_form.html' %}
        <div class="nav-item dropdown d-flex">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end other-components p-3 bg-gradient">
            {% if not user.is_authenticated %}
            <li class="nav-item mb-2">
              <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
            </li>
            {% else %}
            <li class="nav-item mb-2">
              <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link" href="{% url 'account_change_password' %}">ChangePassword</a>
            </li>
            {% endif %}
            {% if user.is_superuser %}
            <li class="nav-item mb-2">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item mb-2">
              <a class="nav-link" href="" id='theme-button'>Theme: Light</a>
            </li>
          </ul>
        </div>
       
      </div>
    </div>
  </nav>