{% extends 'base.html' %}
{% block content %}
{% load custom_tags %}
<style>
    .messagebody::-webkit-scrollbar {
        display: none;
    }
    html, body {
      height: 100%;
      {% comment %} background-color:red; {% endcomment %}
    }
</style>
{% comment %} maindiv {% endcomment %}
<div class="container card shadow-lg p-3 rounded other-components border" style="font-family: 'Open Sans', sans-serif !important;">
    <h5 class="card-title"><a href="{% url 'home' %}" class="bi bi-arrow-left me-3 btn btn-outline-danger">Go Back</a>{{chat_partner}}</h5>
    <span style='' class='{{chat_partner.id}} text-center' >{{chat_partner.first_name}}</span>
    <script>
      var online=`{{chat_partner.first_name}}`
      console.log(online)
      if (online == 'Online'){
        $('.{{chat_partner.id}}').addClass('rounded px-2 bg-gradient')
      }
      else{
        $('.{{chat_partner.id}}').addClass('rounded px-2 bg-gradient')
        $('.{{chat_partner.id}}').text('Last Scene: '+online)
      }
    </script>
    {% comment %} chatbox {% endcomment %}
    <div class="card-body messagebody mb-2" id='messagebody' style="overflow-y: scroll;">
        {% for i in RoomObject.chats.all %}
        {% if i.sender == request.user %}
        <div class="card border-0 other-components senderchats">
            <div class="card-body">
              <span class='bg-success px-3 rounded' style='float:right'>{{i}}</span>
            </div>
          </div>
        {% else %}
        <div class="card border-0 other-components recieverchats">
            <div class="card-body">
              <span class='bg-secondary px-3 rounded' style='float:left'>{{i}}</span>
            </div>
          </div>
        {% endif %}
            
        {% endfor %}
    </div>    
    <script>
      $(document).ready(function(){
           $('#messagebody').height($('body').innerHeight()-240)
            console.log($('body').innerHeight())  
            var objDiv = document.getElementById("messagebody");
            objDiv.scrollTop = objDiv.scrollHeight;       
      })
    </script>
    {% comment %} form {% endcomment %}
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="text" placeholder="Type a message..." id='ChatInput'>
        <button class="btn btn-outline-success btn-sm" type="submit" id='ChatSubmit'>Send</button>
      </form>  
    </div>    
      <script>
        var RoomName=`{{RoomObject.RoomName | remove_unnecessary}}`
        console.log(RoomName)
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            +`{{RoomObject.RoomName}}/`
            + RoomName
            + '/'
        );
        
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);          
            console.log(data)
            sender=`{{request.user.username}}`
            console.log(sender)
            console.log(data.sender)
            if(data.sender == sender){
              $('.messagebody').append(`
              <div>
              <div class="card-body">
                <span class='bg-success px-3 rounded' style='float:right'>${data.message}</span>
              </div>
            </div>
            <br>
              `)
            }
            else{
              $('.messagebody').append(`
              <div>
              <div class="card-body">
                <span class='bg-secondary px-3 rounded' style='float:left'>${data.message}</span>
              </div>
            </div>
            <br>
              `)
            }
            var objDiv = document.getElementById("messagebody");
            objDiv.scrollTop = objDiv.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };      
        
        document.querySelector('#ChatSubmit').onclick = function(e) {
          e.preventDefault();
          const messageInputDom = document.querySelector('#ChatInput');
          const message = messageInputDom.value;
          chatSocket.send(JSON.stringify({
              'user':`{{request.user}}`,
              'chat_partner':`{{chat_partner}}`,
              'message': message
          }));
          messageInputDom.value = '';
      };
     </script>
{% endblock content %}