{% extends 'base.html' %}
{% block content %}
{% load custom_tags %}
<style>
    .messagebody::-webkit-scrollbar {
        display: none;
    }
</style>
<div class="container card shadow-lg p-3 mb-5 rounded other-components" style="font-family: 'Open Sans', sans-serif !important;">
    <h5 class="card-title"><a href="{% url 'home' %}" class="bi bi-arrow-left me-3 btn btn-outline-danger">Go Back</a>{{chat_partner}}</h5>
    <div class="card-body messagebody" id='messagebody' style="overflow-y: scroll; height:60vh;">
        {% for i in RoomObject.chats.all %}
        {% if i.sender == request.user %}
        <div class="card border-0 other-components">
            <div class="card-body">
              <span class='bg-success px-3 rounded' style='float:right'>{{i}}</span>
            </div>
          </div>
        {% else %}
        <div class="card border-0 other-components">
            <div class="card-body">
              <span class='bg-secondary px-3 rounded' style='float:left'>{{i}}</span>
            </div>
          </div>
        {% endif %}
            
        {% endfor %}
    </div>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="text" placeholder="Type a message...">
        <button class="btn btn-outline-success btn-sm" type="submit">Send</button>
      </form>
  <script>    
    var objDiv = document.getElementById("messagebody");
    objDiv.scrollTop = objDiv.scrollHeight;
     </script>
{% endblock content %}